<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>
<div class="container px-5 px-sm-0">
  <div class="row m-5 pl-5">
    <h1 class="bg-light">ユーザー一覧</h1>
  </div>
</div>
<div class="row">
  <div class="col">
    <table class="table table-bordered">
      <% @users.each do |user| %>
      <thead class="bg-light">
        <tr>
          <%= attachment_image_tag user, :image, :fill, 60, 60, fallback: "no_image.jpg" %>
          <%= user.name %>
          <%= user.user_genre %>
          フォローするボタン
          ユーザーのジャンル
          ベストアンサーの数
          <%= link_to "Usersのshow", user_path(user) %><br>
        </tr>
      </thead>
      <% end %>
    </table>
  </div>
</div>