<%= render 'layouts/header', user: @user %>
<div class="container pt-3 pb-3">
  <div class="row mx-auto mt-1">
    <%= render 'users/prf', user: @user %>
    <%= render 'tweets/index', user: @user, tweets: @tweets %>
  </div>
</div>


