<header>
  <nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">
    <div class="container">
      <ul class="navbar-nav ml-auto">
        <%= link_to "Pomo's Studyの使い方", "#", class: "nav-link" %>
      </ul>
    </div>
  </nav>
</header>