<%= render 'homes/header', user: @user %>
<div class="container pt-3">
  <div class="row mx-auto mt-1">
    <div class="col-5 mx-auto pb-4 pt-4 text-center bg-white" style="width:1%;">
      <h3>
        ご意見ありがとうございます。<br>
        今後の開発の参考にさせて<br>いただきます。
      </h1>
    </div>
  </div>
</div>